/****** [General] ******/

* {
    font-style: normal;
    font-weight: 500;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html {
    width: 100%;
    max-width: 100%;
    font-size: 16px;
    background: #fff;
}

body {
    margin: 0 auto;
    padding: 0 150px;
    overflow-x: hidden;
    overflow-y: visible;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    color: $color-primary;
    @include width_size;
    // height: auto;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.hidden {
    display: none;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}
a,
a:active,
a:visited {
    color: $color-primary;
    text-decoration: none;
}

