/****** [ Logement ] ******/
.logement_card-layout {
    @include flexRowSB;
    flex-wrap: nowrap;
    .logement_card {
        width: calc(60% - 100px);
        min-width: 460px;
        flex: 1 auto;
        .logement_card-title {
            position: relative;
            top: 25px;
            margin: 0;
            font-size: 32px;
            letter-spacing: 0.2px;
        }
        .logement_card-location {
            margin: 30px 0 4.5px 0;
            letter-spacing: 0.2px;
        }

        .logement_card-tags {
            list-style: none;
            padding: 0;
            display: inline-flex;
            gap: 10px;
        }
        .logement_card-tags li {
            font-size: 12px;
            display: block;
            padding: 4px 12px;
            @include collapseTags;
            min-width: 100px;
            text-align: center;
        }
    }
    
}

.logement_collapse-layout {
    margin: 5px 0 15px 0;
    @include flexRowSB;
    .logement_collapse {
        cursor: pointer;
        width: 47.5%;
    }
}